*
{
    margin: 0;
    padding: 0;
    font-family: system-ui;
}

/* ************************************** */
/* This is the styling for the "Header" across all pages. */
/* ************************************** */
.header
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px;
    box-shadow: 0 1px 8px #ddd;
}

#nav-title
{
    margin-right: auto;
    font-size: 1.5em;
}

.h-span
{
    color: rgb(1, 15, 178);
}

.header li
{
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

.header a 
{
    text-decoration: none;
    color: #555;
    font-weight: bold;
    transition: all 0.3s ease 0s;
}

.header a:hover
{
    color: #1f0087;
}

/* ************************************** */
/* This is the styling for the "main" body. */
/* ************************************** */






/* ************************************** */
/* This is the styling for the "Footer" and is also consistent for all pages. */
/* ************************************** */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%; 
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer p {
    margin-top: 0;
    font-size: 0.9em;
}

/* ************************************** */
/* Media Query for screen size less than 768px to make it responsive. */
/* ************************************** */
@media only screen and (max-width: 768px)
{
    .header 
    {
        flex-direction: column;
        padding: 10px 20px;
    }

    .navbar ul {
        flex-direction: column;
    }

    .header li {
        display: block;
        padding: 10px 0;
    }

    .header a {
        display: block;
        width: 100%;
        text-align: center;
        padding-left: 0;
    }
    
    #nav-title {
        margin: 0;
        margin-bottom: 20px;
        text-align: center; 
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer p {
        font-size: 0.8em;
    }
}